h2 {
    max-width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
}

ion-card-subtitle {
    font-size: 1.9rem;
}

.contenedor-posiciones {
    margin-bottom: 10rem;
}

.descripcion {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 2rem auto 2rem auto;
    width: 75%;
}