<footer class="myfooter">
    <div class="container">
        <div class="row">
            <div class="hijo">
                <a class="logo sombra" routerLink="/home"><img src="assets/img/logosonus.png" alt="logo_sonus"></a>
            </div>
            <div class="hijo">
                <h5>Contacto</h5>
                <ul>
                    <li><i class="fa fa-envelope"></i> info@sonusfx.com.ar</li>
                    <li><i class="fa fa-map-marker"></i> Maipu 740, Rosario, Argentina</li>
                    <li><i class="fa fa-phone"></i> +54-3413066866</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Todos los Derechos Reservados Sonus | SonusFX © 2019 Copyright </p>
    </div>
</footer>