<div>

    <div class="contenedor-encontranos">


        <ion-thumbnail button="false" slot="end">
            <img src="/assets/img-slides/concert.svg">
        </ion-thumbnail>
        <ion-text text-center>
            <p>Encontranos como</p>
            <ion-text color="primary">
                <p class="sonus">¡Sonus FX!</p>
            </ion-text>
            <div class="ion-text-center">
                <ion-icon size="large" class="iconos" color="facebook" name="logo-facebook"></ion-icon>
                <ion-icon size="large" class="iconos" color="youtube" name="logo-youtube"></ion-icon>
                <ion-icon size="large" class="iconos instagram" name="logo-instagram"></ion-icon>
            </div>

        </ion-text>

    </div>

    <ion-grid fixed>
        <ion-row>

            <ion-col size="12">

                <div class="ion-text-center">
                    <ion-icon size="large" color="secondary" name="home"></ion-icon>
                </div>

                <ion-text color="secondary" class="ion-text-center">
                    <p class="ion-text-center">Nuestra Web Oficial</p>
                    <p class="ion-text-center destacar">www.sonusfx.com.ar</p>
                </ion-text>
            </ion-col>

            <ion-col size="12">

                <div class="ion-text-center">
                    <ion-icon size="large" color="secondary" name="mail"></ion-icon>
                </div>

                <ion-text color="secondary" class="ion-text-center">
                    <p class="ion-text-center">Email</p>
                    <p class="ion-text-center destacar">info@sonusfx.com.ar</p>
                </ion-text>
            </ion-col>

            <!-- <ion-col size="12">

                <div class="ion-text-center">
                    <ion-icon size="large" color="secondary" name="cloudy"></ion-icon>
                </div>

                <ion-text color="secondary" class="ion-text-center">
                    <p class="ion-text-center">SoundCloud</p>
                    <p class="ion-text-center destacar">Sonus Fx</p>
                </ion-text>
            </ion-col> -->

        </ion-row>

    </ion-grid>

    <ion-button class="ion-margin" size="large" expand="full" color="primary" fill="outline" (click)="volver()">
        Volver
    </ion-button>

</div>