<app-titulo-header class="nombreInstrumento" [Titulo]="this.tipoInstrumento"></app-titulo-header>

<ion-content padding color="secondary">

    <div *ngIf="trayendoData">
        <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
    </div>


    <div *ngIf="!trayendoData" class="contenedor-botones">
        <ion-list *ngFor="let item of listaMicrofonos; let i = index">

            <ion-item class="boton-clasificacion" color="primary" button="true" (click)="toggleSection(i)" lines="inset" detail="true" [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <ion-label class="textoClasificacion" text-center>{{item.nombreClasificacion}}</ion-label>
            </ion-item>

            <div *ngIf="item.open" class="ion-margin">
                <ion-list *ngFor="let microfono of item.microfonos; let j = index;">
                    <ion-item text-center color="primary" class="boton-microfono" routerLink="/mostrar-microfono" button="true" lines="none" (click)="toggleItem(i, j)" [ngClass]="{'microfono-active': microfono.open, 'microfono': !microfono.open}">
                        <ion-label class="textoNombreMicrofono" (click)="guardarMicrofono(i,j)">
                            <ion-icon name="musical-note" slot="start"></ion-icon>{{microfono.nombre}}</ion-label>
                    </ion-item>
                </ion-list>
            </div>

        </ion-list>
    </div>

    <app-fab-button [home]="true" [side]="'start'" [back]="false" [slot]="'fixed'" class="fab-button"></app-fab-button>

</ion-content>