.titulos-header {
    max-width: 85%;
    font-size: 1.5rem;
    font-weight: bold;
    // text-align: left;
    margin: 0 0;
    padding: 0;
}

button-native {
    padding: 0;
}

// .imagen-header {
//     background-image: url(/assets/banners/banner_2.jpg);
//     max-width: 100%;
//     height: 5rem;
//     background-size: cover;
//     background-position: center center;
// }