<ion-content color="secondary">

    <ion-grid fixed>
        <ion-row class="contenedor-tarjetas ion-align-items-center ion-justify-content-between">
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <app-tarjeta-instrumento imgInstrumento="/assets/img/guitar_Transparente.png" tituloInstrumento="Guitarras" tipoInstrumento="Guitarras"></app-tarjeta-instrumento>
            </ion-col>

            <!-- <ion-col size-lg="2" size-md="2" size-sm="0" size-xs="0"></ion-col> -->

            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <app-tarjeta-instrumento imgInstrumento="/assets/img/bajo_Transparente2.png" tituloInstrumento="Bajos" tipoInstrumento="Bajos"></app-tarjeta-instrumento>
            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>