ion-list {
    background-color: #FFC65D;
}

ion-img {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    height: 80%;
}

ion-label {
    font-size: 1.5rem;
}

.logo {
    border: none;
}

.by {
    text-align: center;
    font-size: 0.8rem;
}

.footer-copyright {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    max-width: 100%;
}